<li>
  <div class="thumb">
    <%= render partial: 'users/avatar', locals: { user: user } %>
  </div>
  <div class="title">
    <%- if user.present? -%>
      <%= render partial: 'users/username', locals: { user: user } %>
    <%- else -%>
      <%= _('System') %>
    <%- end -%>
    <%- if geo_ref.present? -%>
      <%= _('edited at location %{geo_ref_name}') % {
        geo_ref_name: icon_link_to(geo_ref.icon, geo_ref.name, geo_ref_path(geo_ref))
      } %>
    <%- else -%>
      <%= _('edited global entries') -%>
    <%- end -%>
  </div>
  <div class="description">
    <%- versions.each do |version| -%>
      <div id="version-card-<%= version.id %>" class="card mt-1">
        <div class="card-header collapsed" data-toggle="collapse" data-target="#version-collapse-<%= version.id %>">
          <%-
            if version.item.present?
              labels = { 
                item_link: icon_link_to(version.item.icon, version.item.display_name, version.item&.as_base_class),
                item_type: _(version.item.class.display_name)
              }
            else
              labels = { item_type: _(version.item_type) }
            end
            labels[:route_link] = \
              icon_link_to(version.route.icon, version.route.name, version.route) \
              if version.route.present? && !version.item.is_a?(Route)

            headline = \
              if labels.key?(:item_link) && labels.key?(:route_link)
                case version.event
                when 'create' then _('%{item_type} %{item_link} has been added to route %{route_link}.')
                when 'update' then _('%{item_type} %{item_link} in route %{route_link} has been updated.')
                end
              elsif labels.key?(:item_link)
                case version.event
                when 'create' then _('%{item_type} %{item_link} has been added.')
                when 'update' then _('%{item_type} %{item_link} has been updated.')
                end
              elsif labels.key?(:route_link)
                case version.event
                when 'create' then _('%{item_type} has been added to route %{route_link}.')
                when 'update' then _('%{item_type} in route %{route_link} has been updated.')
                when 'destroy' then _('%{item_type} has been deleted from route %{route_link}.')
                end
              else
                case version.event
                when 'create' then _('%{item_type} has been added.')
                when 'update' then _('%{item_type} has been updated.')
                when 'destroy' then _('%{item_type} has been deleted.')
                end
              end
          -%>
          <%= headline % labels %>
          <%= render partial: 'versions/type', locals: { version: version } %>
          <i class="card-collapse-icon ml-3 fa fa-caret-down float-right"></i>
          <small class="float-right"><%= time_ago(version.created_at) %></small>
        </div>
        <div id="version-collapse-<%= version.id %>" class="card-body collapse">
          <%= render partial: 'versions/changeset', locals: { version: version } %>
        </div>
      </div>
    <%- end -%>
  </div>
</li>
