<%- controls ||= '' -%>
<li>
  <div class="thumb">
    <%= render partial: 'users/avatar', :locals => { user: item } %>
  </div>
  <div class="controls">
    <%- unless controls.blank? %>
      <%= controls %>
    <%- else -%>
      <%= _('joined %{time_ago_in_words} ago') % { time_ago_in_words: time_ago_in_words(item.created_at) } %>
    <%- end -%>
  </div>
  <div class="title">
    <%= link_to item.display_name, admin_user_path(item) %>
    <small>
      <%= item.role %>
    </small>
  </div>
  <div class="content">
    <%= item.email %>
  </div>
</li>
