<%= simple_form_for([@geo_ref&.as_base_class, @path.as_base_class]) do |form| %>
  <%= back_button %>
  <%= form.error_notification %>

  <%= form.input(
    :name,
    label: _('Name')
  ) %>

  <%= form.input(
    :track,
    label: _('Track'),
    as: :file,
    hint: _('GPX track to display on the map.')
  ) %>

  <%= form.input(
    :type,
    label: _('Type'),
    collection: Path.path_types,
    hint: _('Type of path'),
    include_blank: false
  )%>
  <%= form.input(
    :body,
    label: _('Description'),
    as: :text,
    input_html: { rows: 15 },
    hint: _('Path description text (markdown format)'),
  ) %>

  <%= form.button :submit %>
<% end %>
