<%= simple_form_for([@base_object&.as_base_class, comment]) do |form| %>
  <%= back_button %>
  <%= form.error_notification %>

  <%= form.input(
    :kind,
    label: _('Type'),
    as: :select,
    collection: Comment.kinds.map { |k| [_(k), k] },
    include_blank: false,
  ) %>

  <%= form.input(
    :body,
    label: _('Message body'),
    as: :text,
    input_html: { rows: 10 },
  ) %>

  <%-
    # could we create this comment when
    # it would be a private one?
    private_comment = comment.dup
    private_comment.private = true
  -%>
  <%- if can? :create, private_comment -%>
    <%= form.input(
      :private,
      label: _('Private'),
      hint: _('Will be only visible to administrators and assigned contributor groups.')
    ) %>
  <%- end -%>

  <%-
    pinned_comment = comment.dup
    pinned_comment.pinned = true
  -%>
  <%- if can? :create, pinned_comment -%>
    <%= form.input(
      :pinned,
      label: _('Pin comment on top'),
      hint: _('Comment will be displayed before all other entries.')
    ) %>
  <%- end -%>

  <%= form.button :submit %>
<% end -%>
