<div class="text-center">
  <%= image_tag(@user.avatar.variant(resize_to_limit: [200,200]), class: 'img-circle') if @user.avatar.attached? %>
  <h2><%= @user.display_name %></h2>
  <p><%= _('member since %{created_at}') % { created_at: @user.created_at } %></p>
  <%= markdown(@user.bio) %>

  <%- if Routenbuch.features.ascents? -%>
    <h3><%= _('Routes by grade') %></h3>
    <bar-chart :data="<%= @user.stats.to_h['route_grade_difficulty_count'].to_json %>"></bar-chart>
   
    <h3><%= _('Ascents by style') %></h3>
    <pie-chart :data="<%= @user.stats.to_h['ascents_by_style'].to_a.to_json %>"></pie-chart>

    <h3><%= _('Ascents by style and grade') %></h3>
    <bar-chart :stacked="true" :data="<%= @user.stats.to_h['ascents_by_style_and_difficulty'].to_json %>"></bar-chart>
  <%- end -%>
</div>
