<div class="diff-content"><%= '' -%>
<%- diff.each do |hunk| -%>
  <%- case hunk[0] -%>
  <%- when '=' -%>
<%= hunk[1].join -%>
  <%- when '-' -%>
<div class="diff-discard"><%= hunk[1].join %></div><%= '' -%>
  <%- when '+' -%>
<div class="diff-add"><%= hunk[1].join %></div><%= '' -%>
  <%- end -%>
<%- end -%>
</div>
