<template>
  <div class="tiptap-input card">
    <div class="card-header">
      <div v-if="editor" class="btn-toolbar" role="toolbar" >
        <div class="btn-group" role="group">
            <button
              @click="editor.chain().focus().toggleBold().run()"
              :class="{ 'active': editor.isActive('bold') }" 
              type="button"
              data-toggle="tooltip" data-placement="top" title="Bold"
              class="btn btn-outline-secondary">
              <i class="fa fa-bold"></i>
            </button>
            <button
              @click="editor.chain().focus().toggleItalic().run()"
              :class="{ 'active': editor.isActive('italic') }" 
              type="button"
              data-toggle="tooltip" data-placement="top" title="Italic"
              class="btn btn-outline-secondary">
              <i class="fa fa-italic"></i>
            </button>
            <button
              @click="editor.chain().focus().toggleBulletList().run()"
              :class="{ 'active': editor.isActive('bulletList') }" 
              type="button"
              data-toggle="tooltip" data-placement="top" title="Bullet list"
              class="btn btn-outline-secondary">
              <i class="fa fa-list-ul"></i>
            </button>
        </div>
        <div class="btn-group ml-2" role="group">
            <button
              @click="editor.chain().focus().undo().run()"
              type="button"
              data-toggle="tooltip" data-placement="top" title="Undo"
              class="btn btn-outline-secondary">
              <i class="fa fa-undo"></i>
            </button>
            <button
              @click="editor.chain().focus().redo().run()"
              type="button"
              data-toggle="tooltip" data-placement="top" title="Redo"
              class="btn btn-outline-secondary">
              <i class="fa fa-repeat"></i>
            </button>
        </div>
      </div>
    </div>
    <editor-content class="ml-3 mt-3" :editor="editor" />
    <input :name="name" type="hidden" :value="content"></input>
  </div>
</template>

<script>
import { Editor, EditorContent } from '@tiptap/vue-2'
import Document from '@tiptap/extension-document'
import Paragraph from '@tiptap/extension-paragraph'
import Text from '@tiptap/extension-text'
import Bold from '@tiptap/extension-bold'
import Italic from '@tiptap/extension-italic'
import History from '@tiptap/extension-history'
import ListItem from '@tiptap/extension-list-item'
import BulletList from '@tiptap/extension-bullet-list'
import HardBreak from '@tiptap/extension-hard-break'

export default {
  props: {
    name: {
      type: String,
      required: true
    },
    initialContent: {
      type: String,
      default: ''
    }
  },
  components: {
    EditorContent,
  },

  data() {
    return {
      editor: null,
      content: this.initialContent
    }
  },

  mounted() {
    this.editor = new Editor({
      extensions: [
        Document,
        Paragraph,
        Text,
        Bold,
        Italic,
        History,
        ListItem,
        BulletList,
        HardBreak,
      ],
      content: this.content,
      onUpdate: () => {
        this.content = this.editor.getHTML()
      },
    })
  },

  beforeDestroy() {
    this.editor.destroy()
  },
}
</script>

<style>
.ProseMirror {
  min-height: 200px;
}
</style>
