<%- content_for :buttons do -%>
  <% if can?(:destroy, @geo_ref) -%>
    <%= link_to "<span class=\"fa fa-trash\"></span> #{_('Delete')}".html_safe, geo_ref_path(@geo_ref), method: :delete, data: { confirm: _('Are you sure?') }, class: 'btn btn-danger pull-right' %>
  <% end %>
<% end %>

<%- content_for :title, _('Editing %{geo_ref_type}') % { geo_ref_type: _(@geo_ref.type) } -%>
<%- content_for :icon, @geo_ref.icon -%>

<%= render 'form' %>
