<%= render partial: 'geo_refs/head', :locals => { :geo_ref => @geo_ref } %>
<%= render partial: 'geo_refs/secondary_tab_nav', :locals => { :geo_ref => @geo_ref } %>

<%= simple_form_for(
  @move_items_params,
  url: move_items_geo_ref_path(@geo_ref),
  method: :patch
) do |form| %>
  <%= form.error_notification %>

  <%- if @move_items_params.geo_refs.any? -%>
    <h3><%= _('Select locations to edit') %></h3>

    <selectable-list
      name="geo_refs_controller_move_items_params[geo_ref_ids][]"
      :items="<%= @move_items_params.geo_refs.map { |r| { id: r.id, label: r.name } }.to_json %>"
      :initial-selected="<%= @move_items_params.selected_geo_refs.map(&:id).to_json %>"
      ></selectable-list>
  <%- end -%>

  <%- if @move_items_params.routes.any? -%>
    <h3><%= _('Select routes to edit') %></h3>

    <selectable-list
      name="geo_refs_controller_move_items_params[route_ids][]"
      :items="<%= @move_items_params.routes.map { |r| { id: r.id, label: r.name } }.to_json %>"
      :initial-selected="<%= @move_items_params.selected_routes.map(&:id).to_json %>"
      ></selectable-list>
  <%- end -%>

  <h3 class="mt-3"><%= _('Move selected items') %></h3>

  <%= form.input(
    :new_geo_ref,
    label: _('Select a new parent location'),
    as: :autocomplete,
    type: :object,
    autocomplete_url: autocomplete_geo_refs_path,
  ) %>
  <%= form.button :submit, _('Move items'), class: 'btn-info' %>
<% end %>
