<%= render partial: 'geo_refs/head', :locals => { :geo_ref => @geo_ref } %>
<%= render partial: 'geo_refs/secondary_tab_nav', :locals => { :geo_ref => @geo_ref } %>

<% @closures.each do |closure| -%>
  <%= render partial: 'closures/alert', locals: { closure: closure } %>
<% end -%>
<% if @route_closures.any? -%>
  <%= render partial: 'closures/alert_routes_with_closures' %>
<% end -%>

<%= render(
  partial: 'zones/icon',
  locals: {
    item: @geo_ref.zone,
    size: '3x'
  }
) if @geo_ref.zone.present? %>
<% @geo_ref.secondary_zones.each do |sr| -%>
  <% if can?(:update, sr) -%>
    <%= render(
      partial: 'zones/icon',
      locals: {
        item: sr.zone,
      }
    ) %>
    <%= sr.description %>
    <%= link_to '<span class="fa fa-pencil"></span>'.html_safe, edit_geo_ref_secondary_zone_path(@geo_ref, sr), class: 'btn btn-link btn-sm' %>
  <% end %>
<% end -%>

<%- if @geo_ref.alternative_names.any? -%>
  <%= _('Other names') %>: <%= @geo_ref.alternative_names.join(', ') %>
<%- end -%>

<%= render partial: 'location_map', :locals => { :geo_ref => @geo_ref } %>

<p><em><%= @geo_ref.description %></em></p>

<%= render partial: 'taggables/tags_by_category', :locals => { :tags => @geo_ref.tags } %>

<% if @geo_ref.body.present? -%>
  <%= markdown @geo_ref.body %>

  <hr></hr>
<% end -%>

<% if @childs.present? %>
  <ul class="content-list">
    <li>
      <div class="header"><%= _('Regions') %></div>
      <% if can? :update, @geo_ref -%>
        <a class="btn btn-sm btn-outline-secondary pull-right" href="<%=  sort_childs_geo_ref_path @geo_ref %>">
          <i class="fa fa-arrows-v" aria-hidden="true"></i> <%= _('change order') %>
        </a>
      <% end -%>
    </li>
    <% @childs.each do |c| %>
      <%= render partial: 'geo_refs/content-list/default', :locals => { :item => c } %>
    <% end %>
  </ul>
<% end %>

<% if @routes.present? %>
  <ul class="content-list">
    <li>
      <div class="header"><%= _('Routes') %></div>
      <% if can? :update, @geo_ref -%>
        <a class="btn btn-sm btn-outline-secondary pull-right ml-1" href="<%=  sort_routes_geo_ref_path @geo_ref %>">
          <i class="fa fa-arrows-v" aria-hidden="true"></i> <%= _('change order') %>
        </a>
      <% end -%>
    </li>
    <% @routes.each do |r| %>
      <%= render(
        partial: 'routes/content-list/default',
        locals: {
          item: r,
          show_closures: true
        }
      ) %>
    <% end %>
  </ul>
<% end %>

<% if @topos.present? %>
  <ul class="content-list">
    <li><div class="header"><%= _('Topos') %></div></li>
    <% @topos.each do |topo| %>
      <%= render partial: 'topos/content-list/default', :locals => { :item => topo } %>
    <% end %>
  </ul>
<% end %>
