<%= icon_for route_link %>
<%- path_helper ||= :route_path -%>
<%- route_name = link_to route_link.route_from.name, send(path_helper, route_link.route_from) -%>
<%- case route_link.kind -%>
<%- when 'belay' -%>
  <%= _('The route %{route_name} uses the same belay.').html_safe % { route_name: route_name } %>
<%- when 'start_with' -%>
  <%= _('The route %{route_name} has the same start.').html_safe % { route_name: route_name } %>
<%- when 'end_with' -%>
  <%= _('The route %{route_name} has the same end.').html_safe % { route_name: route_name } %>
<%- when 'cross' -%>
  <%= _('The route %{route_name} crosses this route.').html_safe % { route_name: route_name } %>
<%- when 'overlap' -%>
  <%= _('The route %{route_name} overlaps with this route.').html_safe % { route_name: route_name } %>
<%- end -%>
<%- if can? :update, route_link -%>
  <%= link_to '<span class="fa fa-pencil"></span>'.html_safe, edit_route_route_link_path(route_link.route_from, route_link), class: 'btn btn-link btn-sm' %>
<%- end -%>
<br>
