<% content_for :buttons do %>
  <% if can?(:admin, Product) -%>
    <%= link_to(
      "<span class=\"fa fa-plus\"></span> #{_('New product')}".html_safe,
      new_admin_product_path,
      class: 'btn btn-success'
    ) %>
  <% end -%>
<% end -%>

<% content_for :title, _('Products') %>
<% content_for :icon, Product.icon %>

<%= search_form_for @q, url: admin_products_path do |f| %>
  <div class="form-group">
    <%= f.label _('Search') %>
    <div class="input-group">
      <%= f.search_field :name_cont, class: 'form-control', placeholder: _('Search by name...') %>
      <div class="input-group-append">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<hr/>

<ul class="content-list">
  <% @products.each do |product| %>
    <%= render(
      partial: 'admin/products/content-list/default',
      locals: { item: product }
    ) %>
  <% end %>
</ul>

<%= paginate @products %>
