<%- return unless photo&.photo&.attached? -%>
<%- content_for :cover_photo do -%>
  <%= image_tag(
    photo.photo.variant(resize_to_fill: [855,250]),
    srcset: [
      [
        resolve_image_source(
          photo.photo.variant(resize_to_fill: [1710, 500]),
          true
        ),
        '2x'
      ]
    ],
    class: 'img-fluid shadow'
  ) %>
<%- end -%>
