<%= simple_form_for(@first_ascent_person) do |form| %>
  <%= back_button %>
  <%= form.error_notification %>

  <%= form.input(
    :first_name,
    label: _('First name'),
  ) %>
  <%= form.input(
    :last_name,
    label: _('Last name'),
  ) %>
  <%= form.input(
    :alternative_names,
    label: _('Alternative names'),
    as: :tags,
  ) %>
  <%= form.input(
    :dead,
    label: _('Rest in peace'),
  ) %>

  <%= form.button :submit %>
<% end %>

