<%= render partial: 'first_ascent_people/head', locals: { first_ascent_person: @first_ascent_person } %>
<%= render partial: 'first_ascent_people/secondary_tab_nav', locals: { first_ascent_person: @first_ascent_person } %>

<%- if @first_ascent_person.alternative_names.any? -%>
  <%= _('Other names') %>: <%= @first_ascent_person.alternative_names.join(', ') %>
<%- end -%>

<h3>Routes</h3>

<ul class="content-list">
  <% @routes.each do |route| %>
    <%= render partial: 'routes/content-list/default', :locals => { :item => route } %>
  <% end %>
</ul>
