<%- if @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- else -%>
  <%- content_for :icon, Route.icon -%>
  <%- content_for :title, _('Routes') -%>
  <%= render partial: 'routes/primary_tab_nav' %>
<%- end -%>

<%= search_form_for @q do |f| %>
  <div class="form-group">
    <%= f.label _('Search') %>
    <div class="input-group">
      <%= f.search_field :search_full_text, class: 'form-control', placeholder: _('Search terms...') %>
      <div class="input-group-append">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<ul class="content-list">
  <% @routes.each do |route| %>
    <%= render partial: 'routes/content-list/default', locals: { item: route } %>
  <% end %>
</ul>

<%= paginate @routes %>
