/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div#page {
  height:auto !important;
  min-height:100%;
  background-color: #fff;
  overflow: hidden;
}

div#main-row {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

div#main {
  padding: 0;
  margin: 0;

  .container {
    padding-top: 60px;
  }
}

div#left {
  padding: 0;
  margin: 0;
  float: left;
}

div#sidebar {
  background-color: rgb(92, 92, 92);

  .navbar-brand {
    margin: 0;
    font-size: 18px;

    color: rgb(210,210,210);
    padding: 15px;

    :hover {
      background-color: rgb(60, 60, 60);
    }
  }

  li.nav-item {
    .nav-link {
      color: rgb(210,210,210);
    }

    a.nav-link:hover {
      background-color: rgb(60, 60, 60);
    }

    a.active {
      color: rgb(230,230,230);
      background-color: rgb(60, 60, 60);
    }
  }
}

@media (min-width: 768px) {
  html,body {
    height:100%;
    width: 100%;
    background-color: #70cdf9;
    background: url(<%= asset_path 'background.jpg' %>) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  div#left {
    height: 100%;
  }
  div#sidebar {
    height: 100%;
    margin-bottom: -99999px;
    padding-bottom: 99999px;

    .navbar {
      display: block;
    }
    
		.navbar-collapse {
			padding: 0;
		}
    .navbar-brand {
      width: 100%;
    }

    li {
      width: 100%;
    }

    .nav-link {
      .fa {
        margin-right: 10px;
      }

      border-left: 2px solid rgb(92,92,92);
    }

    a.nav-link:hover {
      border-left: 2px solid #ccc;
    }

    a.active {
      border-left: 2px solid #007bff;
    }
  }

  div#content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  form#global-search {
    width: 150px;
  }
}

footer {
  vertical-align: bottom;
}

ul.content-list {
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: block;

    &::after {
      display: block;
      content: "";
      clear: both;
    }

    > .header {
      font-weight: 600;
      border-bottom: 2px solid #111;
      display: inline;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    > .thumb {
      float: left;
      margin-right: 10px;
    }
    > .controls {
      float: right;
      font-weight: normal;
      text-align: right;
    }
    > .title {
      font-weight: 600;
      small {
        font-weight: 300;
        color: #555;
      }
      a {
        color: #333;
      }
    }
    > .description {
      color: #555;
    }
  }
}

div#location-map {
  height: 150px;
  width: 100%;
}

.redpoint {
  color: #f00;
}

div.topo {
  width: 800px;
  height: 600px;
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.compass {
  display: inline-block;
  background: url(<%= asset_path 'icons/compass.svg' %>);
  width: 48px;
  height: 48px;
  background-size: contain;
}
.compass-pointer {
  background: url(<%= asset_path 'icons/compass-pointer.svg' %>);
  width: 48px;
  height: 48px;
  background-size: contain;
}

.messure_height {
  display: inline-block;
  vertical-align: top;
  background-image: url(<%= asset_path 'icons/height.svg' %>);
  background-repeat: no-repeat;
  background-size: 48px 48px;
  padding-left: 48px;
  height: 48px;
}

.autocomplete-input ~ .invalid-feedback,
.style-input ~ .invalid-feedback,
.partial-date-input ~ .invalid-feedback,
.strong-password-input ~ .invalid-feedback{
  display: block;
}

.comment-body {
  max-height: 250px;
  overflow-y: auto;
}

.diff-attribute {
  font-weight: bold;
}

.diff-content {
  white-space: pre;
  overflow: auto;

  .diff-discard {
    background-color: #fcb3b5;
    display: inline;
    text-decoration: line-through;
  }
  .diff-add {
    background-color: #b7fcb2;
    display: inline;
  }
}

.card-header .card-collapse-icon {
  transition: .3s transform ease-in-out;
}
.card-header.collapsed .card-collapse-icon {
  transform: rotate(90deg);
}

.leaflet-top, .leaflet-bottom {
  z-index: 900;
}
