<%-
  dropdown_link_options = {
    class: 'dropdown-item',
    icon_class: ['fw']
  }
-%>
<% if can?(:update, closure) -%>
  <%= icon_link_to 'edit', _('Edit closure'), edit_closure_path(closure), **dropdown_link_options %>
  <div class="dropdown-divider"></div>
<% end -%>
<% if can?(:create, SeasonClosure.new(closure: @closure)) -%>
  <%= icon_link_to SeasonClosure, _('Add extraordinary closure'), new_closure_season_closure_path(closure), **dropdown_link_options %>
  <div class="dropdown-divider"></div>
<% end %>
<%- if can? :update, closure -%>
  <%= icon_link_to GeoRef, _('Add affected location'), add_geo_ref_form_closure_path(closure), **dropdown_link_options %>
  <%= icon_link_to Route, _('Add affected route'), add_route_form_closure_path(closure), **dropdown_link_options %>
<% end -%>
