<%- if item.current.season_closure.present? -%>
  <b><%= _('Extraordinary closure') %>:</b> <%= item.current.season_closure.description %></br>
<%- end -%>

<p><%= item.description %></p>

<b><%= _('Start') %>:</b> <%= item.current.start_at %><br>
<%- if item.current.start_at != item.current.regular_start_at -%>
  (<%= item.current.regular_start_at %>)
<%- end -%>
<b><%= _('End') %>:</b> <%= item.end_at %><br>

<%- if geo_refs.present? -%>
  <h3><%= _('Affected locations') %></h3>
  <ul>
  <%- geo_refs.each do |geo_ref| -%>
    <li><%= geo_ref.name %></li>
  <%- end -%>
  </ul>
<%- end -%>

<%- if routes.present? -%>
  <h3><%= _('Affected routes') %></h3>
  <ul>
  <%- routes.each do |route| -%>
    <li><%= route.name %></li>
  <%- end -%>
  </ul>
<%- end -%>
