<% content_for :buttons do %>
  <% if can?(:destroy, @closure) -%>
    <%= link_to(
      "<span class=\"fa fa-trash\"></span> #{_('Delete')}".html_safe,
      @closure,
      method: :delete,
      data: { confirm: _('Are you sure?') },
      class: 'btn btn-danger'
    ) %>
  <% end %>
<% end %>
<% content_for :title, _('Editing Closure') %>
<% content_for :icon, @closure.icon %>

<%= render 'form' %>
