<%- if @base_object.is_a?(GeoRef) -%>
  <%= render partial: 'geo_refs/head', locals: { geo_ref: @base_object } %>
  <%= render partial: 'geo_refs/secondary_tab_nav', locals: { geo_ref: @base_object } %>
<%- else -%>
  <% content_for :title, _('All Closures') %>
  <% content_for :icon, Closure.icon %>
<%- end -%>

<%= search_form_for [@base_object&.as_base_class, @q] do |f| %>
  <div class="form-group">
    <%- if @regions -%>
      <%= f.label _('Region') %>
      <%= f.collection_select(
        :geo_ref_id_eq,
        @regions,
        :id,
        :name,
        { include_blank: true },
        { class: 'form-control' },
      ) %>
    <%- end -%>
  </div>
  <div class="form-group">
    <%= f.label _('Description') %>
    <div class="input-group">
      <%= f.search_field :name_cont, class: 'form-control', placeholder: _('Search by name...') %>
      <div class="input-group-append">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<ul class="content-list">
  <%- prev_region = @base_object -%>
  <% @closures.each do |closure| -%>
    <%- if prev_region != closure.geo_ref -%>
      <%= render(
        partial: 'geo_refs/content-list/region_seperator',
        locals: {
          item: closure.geo_ref,
        }
      ) %>
    <%- end -%>
    <%= render(
      partial: 'closures/content-list/default',
      locals: {
        item: closure,
        geo_refs: @geo_refs[closure.id],
        routes: @routes[closure.id],
      }
    ) %>
    <%- prev_region = closure.geo_ref -%>
  <% end -%>
</ul>

<%= paginate @closures %>

<%= icon_link_to(
  :feed,
  _('follow feed'),
  polymorphic_path([:feed, @base_object&.as_base_class, Closure], format: :rss),
  class: 'btn btn-sm btn-outline-secondary mt-3'
) %>
