<%
  tags_by_category = {}
  tags.order(:category, :name).each do |t|
    tags_by_category[t.category] = [] unless tags_by_category.has_key?(t.category)
    tags_by_category[t.category] << t
  end
-%>
<% tags_by_category.each do |cat,tags| -%>
  <p><%= cat.capitalize %>: <%= tags.map { |tag| _(tag.description) }.join(', ') -%></p>
<% end -%>
