<li>
  <div class="thumb">
    <%= render partial: 'users/avatar', locals: { user: item.user } %>
  </div>
  <div class="title">
    <%- if item.pinned -%>
      <span data-toggle="tooltip" title="<%= _('This comment will stick to the top.') %>">
        <i class="fa fa-thumb-tack text-danger" aria-hidden="true"></i>
      </span>
    <%- end -%>
    <%= link_to item.user.display_name, item.user %>
    <%= _('uploaded a photo at %{link}').html_safe % {
      link: link_to(item.target.name, item.target.as_base_class)
    } %>
    <%- if item.private -%>
      <span data-toggle="tooltip" title="<%= _('This is a private comment') %>">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    <%- end -%>
    <%- if item.cover_photo -%>
      <span data-toggle="tooltip" title="<%= _('This is a cover photo') %>">
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
    <%- end -%>
    <small>
      <%= _('on %{date}') % { date: item.created_at.strftime('%Y-%m-%d') } %>
    </small>
  </div>
  <div class="description">
    <figure class="figure">
      <%= link_to item do -%>
        <%= thumbnail_tag(item.photo, size: :list_preview, class: 'figure-img img-fluid rounded') %>
      <%- end -%>
      <figcaption class="figure-caption text-center">
        <%= item.description %>
      </figcaption>
    </figure>
  </div>
</li>
