<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" media="all" href="<%= custom_layout_path %>" data-turbolinks-track="true" />
  <%- unless custom_css_url.nil? -%>
    <link rel="stylesheet" media="all" href="<%= custom_css_url %>" data-turbolinks-track="true" />
  <%- end -%>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container shadow" id="page">
  <div class="row" id="main-row">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" id="left">
  <div id="sidebar">
    <nav class="navbar navbar-dark p-0 navbar-expand-lg">
      <a class="navbar-brand" href="<%= root_path %>">
        <div id="brand-text"><%= page_title %></div>
        <div id="brand-logo"></div>
      </a>
      <%- if show_global_search -%>
        <%= form_with(url: search_index_path, method: :get, local: true, class: 'm-md-2', id: 'global-search') do %>
          <div class="input-group mt-1">
            <%= text_field_tag(:q, '', type: 'search', placeholder: _('Search'), class: 'form-control form-control-sm') %>
            <div class="input-group-append">
              <button type="submit" class="btn btn-sm btn-secondary">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        <% end %>
      <%- end -%>
      <%- if show_navigation -%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <%= render_navigation(
            context: navigation_context,
            expand_all: true
          ) %>
        </div>
      <%- end -%>
    </nav>
  </div>
</div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9" id="main">
  <div class="container-fluid mb-0 border-bottom" id="banner">
    <div class="row">
      <div class="col-auto mr-auto">
      </div>
      <div class="col-auto">
        <div class="dropdown">
          <button class="btn btn-link dropdown-toggle" type="button" id="dropdownUserMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-question"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserMenuButton">
            <%= link_to _('Help'), help_path('README.html'), class: 'dropdown-item' %>
            <%= link_to _('Support'), help_path('support/README.html'), class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to _('About'), help_path('about/README.html'), class: 'dropdown-item' %>
          </div>
        </div>
      </div>
      <div class="col-auto">
      <% if user_signed_in? -%>
        <div class="dropdown">
          <button class="btn btn-link dropdown-toggle" type="button" id="dropdownUserMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-user"></span>
            <%= current_user.name.present? ? current_user.name : current_user.email %>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserMenuButton">
            <%- dropdown_link_options = {
              class: 'dropdown-item',
              icon_class: ['fw']
            } -%>
            <%= icon_link_to(
              Ascent,
              _('My Ascents'),
              user_ascents_path(current_user),
              **dropdown_link_options
            ) if Routenbuch.features.ascents? %>
            <%= icon_link_to(
              Ticklist,
              _('My Ticklist'),
              user_ticklists_path(current_user),
              **dropdown_link_options
            ) if Routenbuch.features.ticklists? %>
            <%= icon_link_to Photo, _('My Photos'), user_photos_path(current_user), **dropdown_link_options %>
            <%= icon_link_to Version, _('My change history'), user_versions_path(current_user), **dropdown_link_options %>
            <div class="dropdown-divider"></div>
            <%= icon_link_to 'user', _('Profile'), current_user, **dropdown_link_options %>
            <%= icon_link_to 'gear', _('Settings'), profile_path, **dropdown_link_options %>
            <div class="dropdown-divider"></div>
            <%= icon_link_to('sign-out', _('Sign out'), destroy_user_session_path, :method => :delete, **dropdown_link_options) %>
          </div>
        </div>
      <% elsif Routenbuch.public? -%>
        <%= icon_link_to('sign-in', _('Sign in'), new_user_session_path, class: 'btn btn-outline-primary m-1') %>
      <% end -%>
      </div>
    </div>
  </div>

  <%= content_for :cover_photo -%>

  <div class="container-fluid mt-3" id="content">
		<% flash.each do |type, message| %>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
				<%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
		<% end %>

    <%= content_for :tab_nav if content_for? :tab_nav -%>

    <div class="d-flex">
      <div class="mr-auto">
        <%= content_for :breadcrumb if content_for? :breadcrumb %>
      </div>
      <%- if content_for? :buttons -%>
        <div>
          <%= content_for :buttons -%>
        </div>
      <%- end -%>
      <%- if content_for? :dropdown -%>
        <div>
          <div>
            <div class="dropdown">
              <button type="button"
                      class="btn btn-secondary dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
                <i class="fa fa-bars" aria-hidden="true"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <%= content_for :dropdown %>
              </ul>
            </div>
          </div>
        </div>
      <%- end -%>
    </div>

    <%- if content_for? :title -%>
      <div class="d-flex">
        <div class="mr-auto">
          <h1>
            <%- if content_for? :icon -%>
              <i class="fa fa-<%= content_for :icon %>"></i>
            <%- end -%>
            <%= content_for :title %>
          </h1>
        </div>
        <%- if content_for? :title_right -%>
          <div>
            <%= content_for :title_right -%>
          </div>
        <%- end -%>
      </div>
      <hr class="mt-1 mb-2"></hr>
    <%- end -%>

    <div id="vue-app">
      <%= yield %>
    </div>
  </div>

  <footer class="footer"><div class="container">
    <%= content_for :footer -%>
    <p class="text-muted">powered by <a href="https://routenbuch.net">Routenbuch</a></p>
  </div></footer>

</div><!-- col -->

  </div><!-- row -->
</div><!-- container -->

</body>
</html>
